* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}

:root {
    --background: rgb(255, 255, 231);
    --color: rgb(0, 195, 255);
}

body {
    background: var(--background);
    color: var(--color);
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
}

.title {
    font-size: 30px;
}

img {
    width: 30px;
    height: 30px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: var(--color);
    color: var(--background);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}