* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}

:root {
    --background: rgb(255, 255, 231);
    --color: rgb(0, 195, 255);
    --background-dark: rgb(29, 29, 29);
    --bg-card: rgb(204, 204, 204);
}

body {
    background-color: var(--background);
    color: var(--color);
}

body.night {
    background-color: var(--background-dark);
}

.star {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    width: 100vw;
    height: auto;
    opacity: 0.05;
}

.star_bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -9999;
    width: 100vw;
    height: auto;
    opacity: 0.05;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
}

.title {
    font-size: 30px;
}

img {
    width: 30px;
    height: 30px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: var(--color);
    color: var(--background);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.utiity {
    font-weight: 300 !important;
}

.card {
    padding: 20px;
    border-radius: 26px;
    text-align: center;
    background: var(--bg-card);
}