* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --background: rgb(255, 255, 231);
    --color: rgb(0, 195, 255);
}

body {
    background: var(--background);
    color: var(--color);
}